<div class="home-container">
  <app-search-card
    [searchType]="searchType"
    [moviesLoading]="moviesLoading$ | async"
    [relatedKeyword]="relatedKeyword"
    (searchMoviesSubmit)="searchMovies($event)"
    (searchTypeChanged)="searchTypeChanged($event)"
  ></app-search-card>

  <hr class="home-divider">

  <div id="movies-container" class="movies-container" *ngIf="(movies$ | async) as movies">
    <app-movie-list [movies]="movies" (openMovieDetails)="openDetailsPopup($event)" [searchType]="searchType"></app-movie-list>
  </div>
</div>