<h2 *ngIf="searchType === SearchType.REGULAR">Found movies</h2>
<h2 *ngIf="searchType === SearchType.SIMILAR">Found related movies</h2>

<div *ngIf="movies.length === 0">
  No movie for the specified title.
</div>

<mat-list role="list">
  <mat-list-item
    role="listitem"
    *ngFor="let movie of movies"
    (click)="openDetails(movie.id)"
    class="movie-list-item"
  >
    <div>
      <span matListItemTitle>{{ movie.name }}</span>
      <span matListItemLine>{{ movie.score }}</span>
      <mat-chip-listbox aria-label="Movie genres" matListItemLine>
        <mat-chip *ngFor="let genre of movie.genres">{{ genre.name }}</mat-chip>
      </mat-chip-listbox>
    </div>
  </mat-list-item>
</mat-list>
